<div id="about">
    <div class="about">
        <h1>About us</h1>
        <p>
            We are a registered <em>Private Limited Company</em>, and our core business is to render 
            cleaning services and be a reliable supplier of various forms of products in 
            the following fields.
        </p>
        <div class="intro">
            <p>
                People everywhere need to know they are visiting and working in 
                places that are clean, safe and hygienic. It's not enough that it's 
                spotless.
            </p>
            <p>
                Every day, our custom cleaning services keep people healthy and 
                safe, nurture wellbeing and shape strong and reputable workplaces, 
                offering smart technology, best-in-class products and expertly 
                trained people to give you peace of mind.
            </p>
        </div>
    </div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    vision
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    To offer the best services, cleaning services and products in the market, ensuring the ultimate and absolute continuous 
                    satisfaction of our clients. Always be a cut above the rest in delivering our work, on time, and maintain an unquestionable high 
                    standard of dignity and reputation in our field and scope of operation.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    mission
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="accordion-body">
                        To supply and provide services beyond the normal call of duty and always go an extra mile in ensuring customer satisfaction. 
                        To change the dynamics and outlook on how services and products have been provided in our field, through offering high standard 
                        and reliable, sustainable and user-friendly products & services that brings efficiency and convenience for our clients.
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    values
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p>We strive towards:</p>
                    <ul>
                        <li>Integrity</li>
                        <li>Honesty</li>
                        <li>Services Delivered on time to the best satisfaction of our clients</li>
                        <li>Best Market related prizes</li>
                        <li>Solid fostered and preserved partnerships with our stakeholders</li>
                    </ul>
                    <p>
                        We have a great business vision and long-term goals that includes sustainable partnerships 
                        with our stakeholders. In the process, we have served and worked with the following stakeholders.
                    </p>
                    <ul>
                        <li>Department of Education Sedibeng East District</li>
                        <li>Department of Correctional Services </li>
                        <li>Vaal University of Technology</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>