<div id="services">
    <div class="services">
        <h1>Our Services</h1>
    </div>
    <div class="service_items">
        <ul>
            <li>Floor cleaning, stripping, refinishing and sealing</li>
            <li>Heavy duty Equpment cleaning</li>
            <li>Industrial carpet and upholstery cleaning</li>
            <li>Windows and glass cleaning</li>
            <li>Office cleaning</li>
            <li>Power washing and load dock cleaning</li>
            <li>Exhaust system cleaning</li>
            <li>Handyman repairs and maintanance</li>
            <li>Trash removal</li>
            <li>Restroom cleaning, sanitation and supplies</li>
            <li>Construction debris removal</li>
            <li>Farm cleaning</li>
            <li>Grass cutting and tree triming</li>
            <li>Disintection</li>
            <li class="last">Liquid waste treatment</li>
        </ul>
    </div>
</div>